// logo
.aesthetic-logo{
	&:hover{
		color: #B69878;
	}
	padding: 25px 0;
	display: block;
	color: #a57c4f;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	word-spacing: 2px;
	
}

// logo

// nav
.main-nav{
	position: relative;
	display: block;
	width: 100%;
	background: #202020;
	text-align: center;
	text-decoration: none;
	.bottom{
		    position: fixed;
		    margin-top:-50px;
		    top:0;
		    left:0;
		    right:0;
		}
	nav{		
		z-index: 10000;
		padding: 10px 0;
		border-top: 1px solid #393939;
		background-color: #202020;
		
		.manu-item{
			&:hover{
				color: #A7A3A3;
			}
			display: inline;
			margin: 0 22px 0 21px;
			color: #777;
			font-size: 15px;
			font-weight: 300;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 2px;
			
			
			
		}

	}
	a{
		text-decoration: none;
	}


}
// nav

// footer
.footer-buttom{
	padding: 18px 4px 20px 0;
	color: #777;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 4px;
	border-top: 1px solid #393939;
	a{
		@extend .footer-buttom;
		border-top: 0px solid ;
		text-decoration: none;
	}
}
// footer

