
// 問題：
// 1.畫面縮小時，class="aesthetic-ourprocedures區塊，會蓋住class="aesthetic-ourteam"的圖片
// 2.畫面縮小時，class="aesthetic-ourprocedures"裡面的圖片，會被吃掉
// 3.class="aesthetic-ourprocedures"裡面的問題：
// 		(1)標題OUR PROCEDURES上面那塊的top
// 		(2)label的GET A 3D SIMULATION區塊標題跟a怪怪的
// 		(3)我有在label上設cursor: pointer，label應該會變成手勢鍵，不過我發現手勢鍵是在字的外面出現
// 		(4)被點選的label想要有外框，我是這樣設：
	// [id^="tab"]:checked + [class^=".labels"] { 

	// 	    border: 1px solid #a57c4f;
	// 	}
	// 	不過沒反應。
// 4.畫面放大時，class="aesthetic-contacts這個區塊會往上跑，被class="aesthetic-ourprocedures區塊蓋住，
// 為什麼會這樣?
// 5.怎麼樣可以固定好表單裡的內容(像是input textarea)寬高大小及位子等，好讓我在調整更大區塊時，表單內容不會跑位
// 6.怎麼讓地圖固定大小，像是把畫面縮小百分比時，它可以跟捲軸黏在一起上不會跑位
// 7.logo想要滑鼠移到字後，才會出現手勢鍵，字以外不要
// 8.沒辦法用滑鼠選取class="aesthetic-ourteam"圖片裡的字，反而選到了下面的"OUR PROCEDURES"字

@import "compass/reset";
@import "header&footer";
@import "aesthetic-contacts";
@import "compass/CSS3";
@import "else";



$Roboto-font: 'Roboto', 'sans-serif';

%all-a{
	// display: block;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid #b3afaf;
	border-radius: 7px;
	width: 180px;
	word-spacing: 1px;
}
%all-h3{
	font-weight: 300;
	font-size: 21px;
	letter-spacing: 1px;
	line-height: 26px;
	color: #4e2c30;
}
%all-h2{
	font-weight: 300;
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 48px;
	color: #a57c4f;
}

*{

	max-width: 10000px;
}
body{
	margin: 0;
	min-width: 320px;
	font-size: 16px;
	font-family: 'Lato', 'sans-serif';
	line-height: 24px;
	color: #505050;
}
.wrpper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.aesthetic-main{
	position: relative;
	min-width: 100%;
	width: auto;
	height: 100%;
	background-image: url(../images/img01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
		.aesthetic-main-word{
			max-width: 500px;
			// background-color: red;
			position: absolute;
			margin: 150px 0 0 150px;
			
			h1{
				font-size: 72px;
				color: #FFF;
				font-weight: 100;
				letter-spacing: 3px;
				line-height: 87px;
				word-spacing: 1px;
				padding-bottom: 10px;
			}
			h3{
				
				font-size: 22px;
				color: #bcb7b8;
				font-weight: 300;
				word-spacing: 2px;
				text-align: center;
				padding-bottom: 40px;
			}
			a{	
				&:hover{
					color: #C2C2C2;
					border: 1px solid #C2C2C2;
				}
				@extend %all-a;
				font-size: 19px;
				color: #a69ea1;
				padding: 16px 40px 17px;
				margin-left: 7px; 
			}
		}
}
.aesthetic-about{
	display: block;
	width: auto;
	height: auto;
	background-color: #a6797e;
	text-align: center;
	transition: all 1s linear; 
	padding: 64px 194px 50px 200px;
	h2{

		font-weight: 300;
		font-size: 43px;
		letter-spacing: 1px;
		line-height: 48px;
		color: #FFF;
	}
	h3{
		@extend %all-h3;
		padding: 10px 0 20px 0;
	}
	p{

		word-spacing: 2px;
		color: #dfcdcf;		
		margin-bottom: 50px;
	}
	a{
		@extend %all-a;
		&:hover{
			color: #FFCAD1;
			border: 1px solid #FFCAD1;
		}
		text-align: center;
		color: #caafb2;
		padding: 20px 20px 20px;
	}
}

.aesthetic-ourteam{
	margin-top: 60px;
	background-color: #FFF;
	text-align: center;	
	h2{
		@extend %all-h2;
	}	
	h3{
		@extend %all-h3;
	}
	.text-box h3{
		color: #FFF;
	} 
	.text-box h5{
		letter-spacing: 1px;
		font-style: italic;
		color: #bca48a;

	}
	.aesthetic-ourteam-list{
		padding-top: 30px;
		margin: 0;
		.aesthetic-ourteam-people{
			float: left;
			width: 25%;
			position: relative;
		.aesthetic-ourteam-photo1{
			background-image: url(../images/img02.jpg);

		}

		.aesthetic-ourteam-photo2{
			background-image: url(../images/img03.jpg);
		}

		.aesthetic-ourteam-photo3{
			background-image: url(../images/img04.jpg);
		}

		.aesthetic-ourteam-photo4{
			background-image: url(../images/img05.jpg);
		}

		div[class*=aesthetic-ourteam-photo]{
			display: block;
			width: 100%;
			height: 453px;
			background-repeat: no-repeat;
			background-size: cover;
			
		}
		.text-box{
			position: absolute;
			left: 0;
			bottom: 30px;
			width: 100%;
		}


	}
}			

}
// tab這一塊有待改進
.aesthetic-ourprocedures{
	margin-top: 30px; 
	position: relative;
	width: auto;
	height: auto;

	// background-color: green;

	text-align: center;

	h2{

		@extend %all-h2;
	}

	h3{
		@extend %all-h3;
		padding: 10px 0 30px 0;
	}
	a{
		@extend %all-a;
		&:hover{
			color: #E0A241;
			border: 1px solid #E0A241;
		}
		border-color: #a57c4f;
		color: #bd9d7a;
	}


	}
	.labels{
	    	display: inline;
	    	padding: 2px 10px;
	    	border-radius: 5px;
			color: #bd9d7a;
	    	text-transform: uppercase;
	    	border: 1px solid #FFF;
	    	cursor: pointer;
	}	

	.tabs {
		display: inline-block;
		min-width: 100%;
	  	width: auto;
	  	height: 150%;
	  	// background-color: green;
	  	list-style: none;
		position: relative;


	  	li {
	    	float: left;
	    	// display: inline;
	  	}

	  	.tab-contents{
	  		text-align: left;
	    	z-index: 2;
	    	display: none; 
	    	line-height: 25px;
	    	padding: 25px; 
	    	position: absolute;
	    	top: 53px;
	    	left: -50px;
	    	.image-box{
	    		float: left;
	    		// position: relative;
	    		width: 50%;
	    		height: 773px;
	    		background-image: url(../images/img06.jpg);
	    		background-size: cover;

	    	}

	    	.image-box2{
	    		float: left;
	    		width: 50%;
	    		height: 773px;
	    		background-image: url(../images/img07.jpg);
	    		background-size: cover;

	    	}
	    	.text-box{
	    		float: right;
	    		width: 39%;
				margin: 50px 5%;
				a{
					display: block;
					padding: 13px 150px 14px;
					margin: 20px;
				}
	    	}

		}
		input[type="radio"]{
			display: none;
		}
		[id^="tab"]:checked + [class^=".labels"] { 

		    border: 1px solid #a57c4f;
		}


		[id^="tab"]:checked ~ [id^="tab-content"] {
			display: block;
			width: 100%;
		}

}
// tab這一塊有待改進

