
// 問題：
// 1.畫面縮小時，class="ourprocedures-content區塊，會蓋住class="ourteam-content"的圖片
// 2.畫面縮小時，class="ourprocedures-content"裡面的圖片，會被吃掉
// 3.class="ourprocedures-content"裡面的問題：
// 		(1)標題OUR PROCEDURES上面那塊的top
// 		(2)label的GET A 3D SIMULATION區塊標題跟a怪怪的
// 4.畫面放大時，class="contacts-content這個區塊會往上跑，被class="ourprocedures-content區塊蓋住，
// 為什麼會這樣?
// 5.怎麼樣可以固定好表單裡的內容(像是input textarea)寬高大小及位子等，好讓我在調整更大區塊時，表單內容不會跑位
// 6.class="map-content"裡面的問題：
// 		(1)怎麼讓地圖固定大小，像是把畫面縮小百分比時，它可以跟捲軸黏在一起上不會跑位
// 		(2)label的位置
// 7.logo想要滑鼠移到字後，才會出現手勢鍵，字以外不要
// 8.沒辦法用滑鼠選取class="ourteam-content"圖片裡的字，反而選到了下面的"OUR PROCEDURES"字

@import "compass/reset";
@import "compass/CSS3";

@import "header&footer";




$Roboto-font: 'Roboto', 'sans-serif';

%all-a{
	// display: block;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid #b3afaf;
	border-radius: 7px;
	width: 180px;
	word-spacing: 1px;
}
%all-h3{
	font-weight: 300;
	font-size: 21px;
	letter-spacing: 1px;
	line-height: 26px;
	color: #4e2c30;
}
%all-h2{
	font-weight: 300;
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 48px;
	color: #a57c4f;
}

*{

	max-width: 10000px;
}
body{
	margin: 0;
	min-width: 320px;
	font-size: 16px;
	font-family: 'Lato', 'sans-serif';
	line-height: 24px;
	color: #505050;
}
.wrpper{
	width: 100%;
	position: relative;
	overflow: hidden;
}

// index.html主頁
.main-content{
	position: relative;
	min-width: 100%;
	width: auto;
	height: 100%;
	background-image: url(../images/img01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
		.main-word-content{
			max-width: 500px;
			// background-color: red;
			position: absolute;
			margin: 150px 0 0 150px;
			
			h1{
				font-size: 72px;
				color: #FFF;
				font-weight: 100;
				letter-spacing: 3px;
				line-height: 87px;
				word-spacing: 1px;
				padding-bottom: 10px;
			}
			h3{
				
				font-size: 22px;
				color: #bcb7b8;
				font-weight: 300;
				word-spacing: 2px;
				text-align: center;
				padding-bottom: 40px;
			}
			a{	
				&:hover{
					color: #C2C2C2;
					border: 1px solid #C2C2C2;
				}
				@extend %all-a;
				font-size: 19px;
				color: #a69ea1;
				padding: 16px 40px 17px;
				margin-left: 7px; 
			}
		}
}

.about-content{
	display: block;
	width: auto;
	height: auto;
	background-color: #a6797e;
	text-align: center;
	transition: all 1s linear; 
	padding: 64px 194px 50px 200px;
	h2{

		font-weight: 300;
		font-size: 43px;
		letter-spacing: 1px;
		line-height: 48px;
		color: #FFF;
	}
	h3{
		@extend %all-h3;
		padding: 10px 0 20px 0;
	}
	p{

		word-spacing: 2px;
		color: #dfcdcf;		
		margin-bottom: 50px;
	}
	a{
		@extend %all-a;
		&:hover{
			color: #FFCAD1;
			border: 1px solid #FFCAD1;
		}
		text-align: center;
		color: #caafb2;
		padding: 20px 20px 20px;
	}
}

.ourteam-content{
	margin-top: 60px;
	background-color: #FFF;
	text-align: center;	
	h2{
		@extend %all-h2;
	}	
	h3{
		@extend %all-h3;
	}
	.text-box h3{
		color: #FFF;
	} 
	.text-box h5{
		letter-spacing: 1px;
		font-style: italic;
		color: #bca48a;

	}
	.ourteam-list{
		padding-top: 30px;
		margin: 0;
		.ourteam-people{
			float: left;
			width: 25%;
			position: relative;
		.ourteam-photo1{
			background-image: url(../images/img02.jpg);

		}

		.ourteam-photo2{
			background-image: url(../images/img03.jpg);
		}

		.ourteam-photo3{
			background-image: url(../images/img04.jpg);
		}

		.ourteam-photo4{
			background-image: url(../images/img05.jpg);
		}

		div[class*=ourteam-photo]{
			display: block;
			width: 100%;
			height: 453px;
			background-repeat: no-repeat;
			background-size: cover;
			
		}
		.text-box{
			position: absolute;
			left: 0;
			bottom: 30px;
			width: 100%;
		}


	}
}		
}

.ourprocedures-content{
	margin-top: 30px; 
	position: relative;
	width: auto;
	height: auto;

	// background-color: green;

	text-align: center;

	h2{

		@extend %all-h2;
	}

	h3{
		@extend %all-h3;
		padding: 10px 0 30px 0;
	}
	a{
		@extend %all-a;
		&:hover{
			color: #E0A241;
			border: 1px solid #E0A241;
		}
		border-color: #a57c4f;
		color: #bd9d7a;
	}


	}


	.tabs {
		display: inline-block;
		min-width: 100%;
	  	width: auto;
	  	height: 150%;

	  	list-style: none;
		position: relative;


	  	li {
	    	display: inline;

	  	}

	  	label{
	  	    	padding: 2px 10px;
	  	    	border-radius: 5px;
	  			color: #bd9d7a;
	  	    	text-transform: uppercase;
	  	    	border: 1px solid #FFF;
	  	    	cursor: pointer;

	  	}	

	  	.tab-contents{
	  		text-align: left;
	    	z-index: 2;
	    	display: none; 
	    	line-height: 25px;
	    	padding: 25px; 
	    	position: absolute;
	    	top: 53px;
	    	left: -50px;
	    	.image-box{
	    		float: left;
	    		// position: relative;
	    		width: 50%;
	    		height: 773px;
	    		background-image: url(../images/img06.jpg);
	    		background-size: cover;

	    	}

	    	.image-box2{
	    		float: left;
	    		width: 50%;
	    		height: 773px;
	    		background-image: url(../images/img07.jpg);
	    		background-size: cover;

	    	}
	    	.text-box{
	    		float: right;
	    		width: 39%;
				margin: 50px 5%;
				a{
					display: block;
					padding: 13px 150px 14px;
					margin: 20px;
				}
	    	}

		}
		input[type="radio"]{
			display: none;
		}

		// [id^="tab"]:checked + [class^=".labels"] { 

		//     border: 1px solid #a57c4f;
		// }


		[id^="tab"]:checked ~ [id^="tab-content"] {
			display: block;
			width: 100%;
		}

		input[type=radio]:checked + label{
			border: 1px solid #a57c4f;
		}

}


.contacts-content{
	display: block;
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	h2{
		@extend %all-h2;
		padding-top: 50px;
	}
	h3{
		@extend %all-h3;
		padding: 10px 0 30px 0;
	}

	.contact-box{
		padding: 17px 6% 71px 9%;
		margin: 0 auto;
		max-width: 1020px;
		background-color: blue;
		.contact-holder{

			width: 285px;
			dt{
				float: left;
			}
			dd{
				text-align: left;
			}
		}
}
	.sent-form{
		float: right;
		position: relative;
		right: 5%;
		width: 55%;
		.row{
			.validation-box-success{
				float: left;
			}
		}
		textarea {
			display: block;
			margin: 0;
			padding: 21px 17px;
			resize: vertical;			
			text-transform: uppercase;
			color: #777;
			border: 1px solid #fff;
			background: #FFF;
			border-radius: 3px;
			overflow: auto;
		}	
		input[type="text"]{
			display: block;
			margin: 20px 25px 19px 0;
			width: 338px;
			height: 51px;
			text-transform: uppercase;
			border: 1px solid #FFF;	
			outline: 0;
			background-color: #FFF;

		}
		input[type="submit"]{
			@extend %all-a;
			margin: 0;
			padding: 0 0 2px;
			width: 300px;
			height: 53px;
			font: 16px/20px 'Lato', Arial, Helvetica, sans-serif;				
			color: #a57c4f;
			background: #f0f0f0;
			border: 1px solid #a57c4f;
			border-radius: 7px;
			cursor: pointer;

			}
		}
	}



.maps-content{
	// position: relative;

	min-width: 100%;
	width: auto;
	height: 100%;
	background-color: #505050;
	li {

	  	display: inline;
	  	text-align: center;

		}
	label{

	    padding: 10px 10px;
	    // margin: 10px;
	    color: #FFF;
	    text-transform: uppercase;
	    cursor: pointer;		    
	    border-radius: 7px;bottom: 50px;
	}
	.maps-body{
		display: inline-block;
		min-width: 100%;
	  	width: auto;
	  	height: 100%;
		list-style: none;
		position: relative;
		background-color: #505050;
	}
	.maps-information{
	  	text-align: left;
	    line-height: 25px;
	    display: none;

	}	
		
		address{
			text-align: center;
			color: #c9c0c2;
			padding-top: 5%;
		}
	input[type="radio"]{
		display: none;
	}

	[id^="map"]:checked ~ [id^="maps-information-content"] {
		display: block;
	}

	input[type=radio]:checked + label{
		border: 1px solid #FFF;
	}
	// .maps-label{
	// 	display: inline;
	// 	text-align: center;

	// }
}



// surgeon.html分頁
.pagination-main-nav{

	@extend .main-content;
	
}
.surgeon-content{
	display: block;
	padding: 58px 0 118px;
	
	h2{
		@extend %all-h2;
		text-align: center;
	}
	h3{
		@extend %all-h3;
		text-align: center;
		margin: 10px 0 60px 0;

	}
	.surgeon-introduction{
		// position: relative;
		text-align: left;
		width: 50%;
		margin: 0 4% 2% 0;
		height: 696px;
		float: left;
		background-image: url(../images/img09.jpg); 
		background-size: cover;
		
	}
	.surgeon-text{
		position: relative;
		padding: 60px 9px 0 40px;
	 	margin: 0 6% 0 0;
	 	text-align: left;
	 	h5{
	 		padding-top: 50px;
	 		padding-bottom: 20px;
	 		font-weight: bolder;

	 	}
	 	p{
	 		margin: 0 0 25px;
	 		&:last-child{
	 			line-height: 3em;
	 		}
	 	} 
		li{

			&:first-child{
				margin: 0;
			}
			margin-top: 30px;

		}
		.date{
			position: absolute;

		}
		.thing{
			padding-left: 12%;
		}
	}
}


// FAQS分頁
.FAQS-content{
	padding: 0 120px 98px;
	h3{
		@extend %all-h3;
		text-align: center;
		margin-top: 50px;
	}
	h4{
		font-style: italic;
		font-weight: bold;
		margin-bottom: 30px;
	}
	h5{
		font-weight: bolder;
	}
	.question{
		margin-top: 30px;
	}
	p{
		display: block;
		padding-bottom: 30px;
		border-bottom: 1px solid #a57c4f;
		&:last-child{
			border-bottom: 0 solid;
		}
}

}