<%= render :partial => "pagination-main-nav" %>

<div class="FAQS-content">
	<h3>FREQUENTLY ASKED QUESTIONS</h3>

	<h5 class="question">Question 1</h5>
	<h4>What is the difference between a “Cosmetic Surgeon” and a “Plastic Surgeon”?</h4>
	<h5>Answer</h5>
	<p>
		It is important to check the credentials of your surgeon, as not all doctors who are entitled to practice Cosmetic Surgery are qualified as Plastic Surgeons. Many medical practitioners (such as GP’s, Dermatologists, General Surgeons) call themselves a Cosmetic Surgeon, if they happen to practice this type of work. It is important to check the training and qualifications of your surgeon.
	</p>

	<h5 class="question">Question 2</h5>
	<h4>Do I need a referral from my General Practitioner?</h4>
	<h5>Answer</h5>
	<p>
		It is not necessary to have a referral for a consultation but if you do bring a referral from your General Practitioner, you may be able to claim part of the initial consultation fee from Medicare if it is deemed for medical, not cosmetic, reasons.
	</p>

	<h5 class="question">Question 3</h5>
	<h4>How long do we need to wait for an appointment?</h4>
	<h5>Answer</h5>
	<p>
		There is usually a wait of a few weeks for an initial appointment because a full hour is dedicated to that appointment. Subsequent appointments can be fitted in earlier.
	</p>

	<h5 class="question">Question 4</h5>
	<h4>How much does the procedure cost?</h4>
	<h5>Answer</h5>
	<p>
		Our staff can give you approximate out of pocket costs for whichever surgical package you enquire about and these costs will be confirmed after your first consultation with Ms Corduff. We can give you broad estimates of other costs incurred at the time of surgery such as theatre, bed fees, assistant and anaesthetic costs.
	</p>

	<h5 class="question">Question 5</h5>
	<h4>How much does the procedure cost?</h4>
	<h5>Answer</h5>
	<p>
		All of the Anaesthetists Ms Corduff works with are Specialist Anaesthetists. The safety equipment used means that the patient can be assured of constant monitoring of their heart and lung functions. The level of anaesthetic will vary with the type of operation being performed.
	</p>

	<h5 class="question">Question 6</h5>
	<h4>How long will I have to stay in hospital?</h4>
	<h5>Answer</h5>
	<p>
		The hospital stay will vary depending on the type of surgery being performed and your general health, but most patients will only stay in hospital one night. Some patients can go home the same day. Ms Corduff will discuss this with you at the time of your first consultation.
	</p>

	<h5 class="question">Question 7</h5>
	<h4>How long is the recovery period?</h4>
	<h5>Answer</h5>
	<p>
		This depends on the type of operation you have and your general health. Your recovery and time you may require off work will be discussed at the time of your initial consultation.
	</p>
</div>
