<!--1. main-content -->
		<div class="main-content">
	
			<div class="main-word-content">
				<h1>BY WOMEN,<br> FOR WOMEN</h1>
				<h3>Offering you an all woman staff just makes sense</h3>
				<a href="#">read more</a>
			</div>

		</div>
<!--2. about-content -->
		<div class="about-content" id="about">
			<h2>ABOUT US</h2>
			<h3>BY WOMEN FOR WOMEN – BECAUSE WE UNDERSTAND</h3>
				<p>
				A woman's need for breast surgery is very personal and sensitive, and as such requires a very high level of specialisation and attention. That is why we established the Aesthetic Breast Surgery Centre as a specialist Plastic Surgery Practice dealing exclusively with women who require breast surgery. We pride ourselves on old fashioned service giving individualised attention to your needs. We work as a small, close knit team and as such provide a 'boutique clinic' that is private and yet fully modernised in surgical expertise.
				<br>
				<br>
				At our Centres in Melbourne and Geelong our all female team offers the full range of breast and associated plastic surgery procedures relating only to women. We provide the highest level of care, support and understanding and all appointments and consultations are conducted with the utmost confidentiality.
				<br>
				<br>
				Our Melbourne centre is located Level 1, 530 Little Collins Street in the CBD. Our Geelong centre is located at Unit 7, 74 Gheringhap Street. Both clinics offer modern state of the art facilities in a private, boutique environment. Surgical procedures are performed in private hospitals, selected for their expertise in looking after the specialised needs of our patients and providing the highest safety standards.
				</p>
				
				<a href="#">YOUR SURGEON</a>
		</div>
<!--3. ourteam-content -->
		<div class="ourteam-content" id="ourteam">
			<h2>OUR TEAM</h2>
			<h3>TAKING YOU ON YOUR JOURNEY</h3>
			<ul class="ourteam-list">
				<li class="ourteam-people">
					<div class="ourteam-photo1">
							<div class="text-box">
								<h3>NIAMH CORDUFF</h3>
								<h5>Your Surgeon</h5>
							</div>
					</div>
				</li>

				<li class="ourteam-people">
					<div class="ourteam-photo2">
							<div class="text-box">
								<h3>KERRY TREWIN</h3>
								<h5>Office Manager</h5>
							</div>
					</div>
				</li>

				<li class="ourteam-people">
					<div class="ourteam-photo3">
							<div class="text-box">
								<h3>RENAY SLATTER</h3>
								<h5>Registered Nurse</h5>
							</div>
					</div>
				</li>

				<li class="ourteam-people">
					<div class="ourteam-photo4">
							<div class="text-box">	
								<h3>HAYLEY STOOP</h3>
								<h5>Clinic Assistant</h5>
							</div>
					</div>
				</li>
			</ul>
		</div>
<!--4. ourprocedures-content -->
		<div class="ourprocedures-content" id="ourprocedures">
			<h2>OUR PROCEDURES</h2>
			<h3>WHAT IS RIGHT FOR YOU?</h3>

			<ul class="tabs">
				<!-- <a href="#tab11">Breast Implants</a> -->
				<li>
					
					<input type="radio" name="tab" id="tab1" checked />
					<label for="tab1">Breast Implants</label>
					
					<div class="tab-contents" id="tab-content1">
						<div class="image-box"></div>
						<div class="text-box">
							<h2>Breast Reduction Surgery</h2>
							<p>We at the Aesthetic Breast Surgery Centre have an approach that individualises both the surgical technique and implant choice to the patient. The most important thing we work together on is your desired outcome in terms of shape and size. We then work through what can reasonably be achieved based on your underlying breast shape and size and your chest wall shape, as well as your tissue quality, occupation, exercise requirements etc.
							<br>
							There are many different approaches to the surgery and many different implants available. Each can have an influence on the final outcome and it is the experience of over 20 years in this surgery that enables us to work closely with you to pick the right implant and technique. No one technique and no one style of implant will suit everyone. Also a round implant does not always give a round breast, and alternatively an anatomical implant does not always give a tear drop shaped breast!</p>
							<a href="#" class="read-link" target="_new">Read More</a>
						</div>
					</div>
				</li>
				<li>
					<input type="radio" name="tab" id="tab2">
					<label for="tab2">BREAST LIFTS</label>
					
					<div class="tab-contents" id="tab-content2">
						<div class="image-box"></div>
						<div class="text-box">
							<h2>Breast Lifts (Mastopexy)</h2>
							<p>A breast lift is suitable for patients who have sufficient volume in their breasts but the breasts have dropped after pregnancy and breast feeding or with aging. If in a bra you are happy with the volume of your breasts then this may be more suitable than other forms of breast surgery. It can also be possible to have a breast lift after removal of implants rather than having new implants. This procedure can also be combined with breast implants if some volume is needed.</p>
							<a href="#" class="read-link" target="_new">Read More</a>
						</div>
					</div>
				</li>
				<li>
					<input type="radio" name="tab" id="tab3">
					<label for="tab3">BREAST REDUCTIONS</label>
					
					<div class="tab-contents" id="tab-content3">
						<div class="image-box"></div>
						<div class="text-box">
							<h2>Breast Reduction Surgery</h2>
							<p>At the Aesthetic Breast Surgery Centre we use a variety of surgical techniques and it is important that we use the one that best suits you. This will depend on your shape, age, and breast feeding requirements.
							<br>
							It is nearly always necessary to lift the nipple and this is moved upwards attached to an internal "stalk" of breast tissue. This stalk is otherwise termed "the pedicle" and can be superior, inferior or supero-medial. The choice depends on your shape to start with and where most of the tissue needs to be removed. It does not have anything to do with the scar placement.</p>
							<a href="#" class="read-link" target="_new">Read More</a>
						<div class="text-box">
					</div>
				</li>
				<li>
					<input type="radio" name="tab" id="tab4">
					<label for="tab4">GET A 3D SIMULATION</label>
					
					<div class="tab-contents" id="tab-content4">
						<div class="image-box2"></div>
						<div class="text-box">
							<h2>Want to see your new breasts before the procedure?</h2>
							<p>Within Aesthetic Breast Surgury Centre, we offer the latest technologies available in the market such as Crisalix 3D to help our patients understand what they could look like through 3D simulation of their before and after body. If you wish to have a 3D consultation, you can start from the comfort of your home by clicking on this link.</p>
							<a href="#" class="read-link" target="_new">get a 3d simulation of your new breasts</a>
						</div>
					</div>
				</li>
			</ul>
			
		</div>
<!--5. contacts-content -->
		<div class="contacts-content" id="contacts">
			<h2>CONTACT US</h2>
			<h3>WE LOOK FORWARD TO HEARING FROM YOU</h3>
			<div class="contact-box">

				<div class="contact-holder">
					<dl> 
						<dt>Phone:</dt>
						<dd>1300 882 952</dd>
						<!-- <dd><a href="tel:1300882952" class="call-link">Call Us Now</a></dd> -->
						<dt>Fax:</dt>
						<dd>(03)5222 5377</dd>
						<dt>E-mail:</dt>
						<dd><a href="mailto:enquiries@breast-surgery.com.au">enquiries@breast-surgery.com.au</a></dd>
					</dl>
				</div>
				<!-- 表格tag詳細看一下！ -->

					<form action="index_submit" method="get" accept-charset="utf-8" novalidate="novalidate" class="sent-form">
						<fieldset>

							<div class="validation-box-success">
								<textarea name="umessage" class="required" cols="81" rows="7" placeholder="Your Message"></textarea>
								<!-- <span class="validation">again!</span> -->
							</div>

							<div class="row">
								<div class="validation-box-success">
									<input name="uframe" type="text" placeholder="your name" class="text required">
								</div>
								<div class="validation-box-success">
									<input name="umail" type="text" placeholder="E-mail address" class="text required-mail">
								</div>
							</div>
							<input type="submit" value="send message">
					
						</fieldset>
						<!-- <h3>THANKYOU FOR YOUR MESSAGE - WE WILL RESPOND TO YOU SOON</h3> -->
						
					</form>
				</div> 
				<!-- 表格tag詳細看一下！ -->

			</div>
		</div>
<!--6. maps-content -->
		<div class="maps-content">
			<ul class="maps-body">
				<li>
					<input type="radio" name="maps" id="map1" checked />
					<label for="map1">GEELONG LOCATION</label>
					<div class="maps-information" id="maps-information-content1">				
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3137.585629233433!2d144.3565188981476!3d-38.149827131700654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad4141ad6c3c523%3A0xf182433e00a58ba9!2sAesthetic+Breast+Surgery+Centre!5e0!3m2!1szh-TW!2stw!4v1407826899387" width="1349" height="479" frameborder="0" style="border:0"></iframe>
						<address>
							Aesthetic Breast Surgery Centre <br> Unit 7/74 Gheringhap Street <br>	Geelong, Vic 3220
						</address>

						
					</div>
					
				</li>
				<li>
					<input type="radio" name="maps" id="map2">
					<label  for="map2">MELBOURNE LOCATION</label>
					<div class="maps-information" id="maps-information-content2">
						<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d50432.908519067576!2d145.03957102680752!3d-37.812138947155056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAesthetic+Breast+Surgery+Centre+Level+1%2C+530+Little+Collins+Street%2C+Melbourne%2C+VIC+3000!5e0!3m2!1szh-TW!2stw!4v1408024868094" width="1349" height="479" frameborder="0" style="border:0"></iframe>
						<address>
							Aesthetic Breast Surgery Centre <br> Level 1, 530 Little Collins Street, <br> Melbourne, VIC 3000
						</address>

					</div>	
							
					
				</li>	
			</ul>

		</div>

