<!-- Q:line30  -->

<%= render :partial => "elsenavbar" %>
<div class="surgeon-content">
	<h2>YOUR SURGEON</h2>
	<h3>NIAMH CORDUFF</h3>
	<div class="surgeon-introduction"></div>
	<div class="surgeon-text">
		<p>
			The choice of surgeon for your procedure is the most important decision you will make and it is extremely important that you research the qualifications of your surgeon before you commit to a decision.
			<br>
			<br>
			In Australia any doctor can practise cosmetic surgery, regardless of whether or not they have had any appropriate or advanced surgical training.
			<br>
			<br>
			The Royal Australasian College of Surgeons strictly recommends that all surgery be performed by appropriately qualified surgeons. It takes 10 years plus of specialist training and examinations to gain the specialist qualification of being a Fellow of the Royal Australasian College of Surgeons in Plastic and Reconstructive Surgery. To retain that qualification, surgeons must submit to annual audit to ensure that they continue to meet appropriate standards. The Australian Society of Plastic Surgeons (ASPS) is a specialist society that deals with the administration of plastic surgery in this country. The Australasian Society of Aesthetic Plastic Surgery is an association that is an educational body that continues and promotes post graduate education in aesthetic plastic surgery. Only fully qualified plastic surgeons are eligible to become members of these societies.
			<br>
			<br>
			Ms Niamh Corduff has held the position of President of the Australasian Society of Aesthetic Plastic Surgery. She is a fellow of the Royal Australasian College of Surgeons in Plastic and Reconstructive Surgery and has been practicing plastic surgery for 20 years. Ms Corduff is actively involved in breast surgery research, having written several textbook chapters and having published papers in scientific journals concerning this field. She demonstrates and teaches breast surgery internationally, and lectures regularly at international conferences.
		</p>
		<h5><strong>Memberships:</strong></h5>
		<p>
			Fellow of the Royal Australaisan College of Surgeons: Council Member - Australasian Society of Aesthetic Plastic Surgery 2003-2011 
			<br>
			Vice President - Australasian Society of Aesthetic Plastic Surgery 2006-2008 
			<br>
			President - Australasian Society of Aesthetic Plastic Surgery 2008-2010 
			<br>
			Chairman of Committee - Breast Implant Register for Australia and New Zealand 2003-2006 
			<br>
			Member Australian Society of Plastic Surgeons 1993-2013 
			<br>
			Member International Society of Aesthetic Plastic Surgeons 1998-2013 
			<br>
			Member Australasian Society of Aesthetic Plastic Surgery 1993-present
		</p>
		<h5><strong>Papers Presented:</strong></h5>
		<ul class="date">
			<li>Nov 1987:</li>
			<li>July 1990:</li>
			<li>Dec 1990:</li>
			<li>Sept 1991:</li>
			<li>Sep 2001:</li>
		</ul>
		<ul class="thing">
			<li>
				The Management of Diastrophic Dwarf Ears. Presented to the British Association of Plastic Surgeons Meeting, London.
				N.Corduff, R Green, D Maisels.
			</li>
			<li>
				The Effect of Aspirin and other Non Steroidal Anti-Inflammatory Drugs on the Complication Rate of Surgical Procedures. Presented at Registrars Conference Perth.
			</li>
			<li>
				The Role of Tissue Expansion in Distant Flaps. Presented at the Registrars Meeting, VPSU. Prize for the best paper.
			</li>
			<li>
				The Role of Ultrasound in the Management of Zone 1 Flexor Tendon Injuries. Presented at the Tasmanian State College of Surgeons Meeting. Prize for the best paper.
			</li>
			<li>
				Subcutaneous Breast Reduction: A minimal scar approach to breast reduction. 
				N. Corduff and GI Taylor. Presented to ASAPS meeting, Melbourne September 2001. Awarded Mentor Travelling Fellowship Award for Best Paper.
			</li>
		</ul>
		<h5><strong>Publications:</strong></h5>
		<p>
			The Role of Ultrasound in the Management of Zone 1 Flexor Tendon Injuries. Journal of Hand Surgery (British and European Volume 1994) 19B: 76 – 80
			<br>
			Subglandular Breast Reduction: The Evolution of a Minimal Scar Approach to Breast Reduction. N Corduff and GI Taylor: Plastic and Reconstructive Surgery 2004 Vol 113, 175
			<br>
			Rotation Mastopexy: An Anatomical Approach N Corduff and GI Taylor Aesthetic Plastic Surgery: Volume 33, Issue3 (2009), Page 377
			<br>
			The Superficial Drainage of the Breast: A Clinical Study and Implications for breast reduction surgery. Corduff Rozen and Taylor JPRAS accepted for publication Jan 2009
			<br>
			Chapter 22 Subglandular Breast Reduction Aesthetic and Reconstructive Surgery of the Breast. Betsy Hall-Finlay, Elsevier 2010
			<br>
			Chapter 30 Rotation Mastopexy Aesthetic and Reconstructive Surgery of the Breast. Betsy Hall-Finlay, Elsevier 2010
		</p>
	</div>
</div>
