/* line 422, ../sass/screen.scss */
.maps-content {
  min-width: 100%;
  width: auto;
  height: 100%;
  background-color: #505050;
}
/* line 429, ../sass/screen.scss */
.maps-content li {
  display: inline;
  text-align: center;
}
/* line 435, ../sass/screen.scss */
.maps-content label {
  padding: 10px 10px;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
  bottom: 50px;
}
/* line 444, ../sass/screen.scss */
.maps-content .maps-body {
  display: inline-block;
  min-width: 100%;
  width: auto;
  height: 100%;
  list-style: none;
  position: relative;
  background-color: #505050;
}
/* line 453, ../sass/screen.scss */
.maps-content .maps-information {
  text-align: left;
  line-height: 25px;
  display: none;
}
/* line 460, ../sass/screen.scss */
.maps-content address {
  text-align: center;
  color: #c9c0c2;
  padding-top: 5%;
}
/* line 465, ../sass/screen.scss */
.maps-content input[type="radio"] {
  display: none;
}
/* line 469, ../sass/screen.scss */
.maps-content [id^="map"]:checked ~ [id^="maps-information-content"] {
  display: block;
}
/* line 473, ../sass/screen.scss */
.maps-content input[type=radio]:checked + label {
  border: 1px solid #FFF;
}