/* line 17, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_header&footer.scss */
.aesthetic-logo {
  padding: 25px 0;
  display: block;
  color: #a57c4f;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 2px;
}
/* line 3, ../sass/_header&footer.scss */
.aesthetic-logo:hover {
  color: #B69878;
}

/* line 21, ../sass/_header&footer.scss */
.aesthetic-main-nav {
  position: relative;
  display: block;
  width: 100%;
  background: #202020;
  text-align: center;
  text-decoration: none;
}
/* line 28, ../sass/_header&footer.scss */
.aesthetic-main-nav .bottom {
  position: fixed;
  margin-top: -50px;
  top: 0;
  left: 0;
  right: 0;
}
/* line 35, ../sass/_header&footer.scss */
.aesthetic-main-nav nav {
  z-index: 10000;
  padding: 10px 0;
  border-top: 1px solid #393939;
  background-color: #202020;
}
/* line 41, ../sass/_header&footer.scss */
.aesthetic-main-nav nav .manu-item {
  display: inline;
  margin: 0 22px 0 21px;
  color: #777;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 42, ../sass/_header&footer.scss */
.aesthetic-main-nav nav .manu-item:hover {
  color: #A7A3A3;
}
/* line 59, ../sass/_header&footer.scss */
.aesthetic-main-nav a {
  text-decoration: none;
}

/* line 68, ../sass/_header&footer.scss */
.footer-buttom, .footer-buttom a {
  padding: 18px 4px 20px 0;
  color: #777;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
  border-top: 1px solid #393939;
}
/* line 75, ../sass/_header&footer.scss */
.footer-buttom a {
  border-top: 0px solid;
  text-decoration: none;
}

/* line 1, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 8, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts h2 {
  padding-top: 50px;
}
/* line 12, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts h3 {
  padding: 10px 0 30px 0;
}
/* line 17, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .contact-box {
  padding: 17px 6% 71px 9%;
  margin: 0 auto;
  max-width: 1020px;
  background-color: blue;
}
/* line 22, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .contact-box .contact-holder {
  width: 285px;
}
/* line 25, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .contact-box .contact-holder dt {
  float: left;
}
/* line 28, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .contact-box .contact-holder dd {
  text-align: left;
}
/* line 33, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .sent-form {
  float: right;
  position: relative;
  right: 5%;
  width: 55%;
}
/* line 39, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .sent-form .row .validation-box-success {
  float: left;
}
/* line 43, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .sent-form textarea {
  display: block;
  margin: 0;
  padding: 21px 17px;
  resize: vertical;
  text-transform: uppercase;
  color: #777;
  border: 1px solid #fff;
  background: #FFF;
  border-radius: 3px;
  overflow: auto;
}
/* line 55, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .sent-form input[type="text"] {
  display: block;
  margin: 20px 25px 19px 0;
  width: 338px;
  height: 51px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  outline: 0;
  background-color: #FFF;
}
/* line 66, ../sass/_aesthetic-contacts.scss */
.aesthetic-contacts .sent-form input[type="submit"] {
  margin: 0;
  padding: 0 0 2px;
  width: 300px;
  height: 53px;
  font: 16px/20px 'Lato', Arial, Helvetica, sans-serif;
  color: #a57c4f;
  background: #f0f0f0;
  border: 1px solid #a57c4f;
  border-radius: 7px;
  cursor: pointer;
}

/* line 84, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps {
  position: relative;
  min-width: 100%;
  width: auto;
  height: 100%;
  background-color: #505050;
}
/* line 90, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps input[type="radio"] {
  display: none;
}
/* line 93, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps .maps-body {
  display: block;
  min-width: 100%;
  width: auto;
  height: 80%;
  list-style: none;
  position: relative;
  background-color: #505050;
}
/* line 102, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps .maps-information {
  text-align: left;
  line-height: 25px;
  display: none;
}
/* line 109, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps address {
  text-align: center;
  color: #c9c0c2;
  padding-top: 5%;
}
/* line 115, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps [id^="map"]:checked ~ [id^="maps-information-content"] {
  display: block;
}
/* line 118, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps .aesthetic-maps-label {
  display: inline;
  text-align: center;
}
/* line 121, ../sass/_aesthetic-contacts.scss */
.aesthetic-maps .aesthetic-maps-label .click-label {
  position: relative;
  padding: 10px 10px;
  margin: 10px;
  color: #FFF;
  border: 1px solid #FFF;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
}

/* line 7, ../sass/_else.scss */
.surgeon-content {
  display: block;
  padding: 58px 0 118px;
}
/* line 11, ../sass/_else.scss */
.surgeon-content h2 {
  text-align: center;
}
/* line 15, ../sass/_else.scss */
.surgeon-content h3 {
  text-align: center;
  margin: 10px 0 60px 0;
}
/* line 21, ../sass/_else.scss */
.surgeon-content .surgeon-introduction {
  text-align: left;
  width: 50%;
  margin: 0 4% 2% 0;
  height: 696px;
  float: left;
  background-image: url(../images/img09.jpg);
  background-size: cover;
}
/* line 32, ../sass/_else.scss */
.surgeon-content .surgeon-text {
  position: relative;
  padding: 60px 9px 0 40px;
  margin: 0 6% 0 0;
  text-align: left;
}
/* line 37, ../sass/_else.scss */
.surgeon-content .surgeon-text h5 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: bolder;
}
/* line 43, ../sass/_else.scss */
.surgeon-content .surgeon-text p {
  margin: 0 0 25px;
}
/* line 45, ../sass/_else.scss */
.surgeon-content .surgeon-text p:last-child {
  line-height: 3em;
}
/* line 49, ../sass/_else.scss */
.surgeon-content .surgeon-text li {
  margin-top: 30px;
}
/* line 51, ../sass/_else.scss */
.surgeon-content .surgeon-text li:first-child {
  margin: 0;
}
/* line 57, ../sass/_else.scss */
.surgeon-content .surgeon-text .date {
  position: absolute;
}
/* line 61, ../sass/_else.scss */
.surgeon-content .surgeon-text .thing {
  padding-left: 12%;
}

/* line 71, ../sass/_else.scss */
.aesthetic-FAQS {
  padding: 0 120px 98px;
}
/* line 73, ../sass/_else.scss */
.aesthetic-FAQS h3 {
  text-align: center;
  margin-top: 50px;
}
/* line 78, ../sass/_else.scss */
.aesthetic-FAQS h4 {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 83, ../sass/_else.scss */
.aesthetic-FAQS h5 {
  font-weight: bolder;
}
/* line 86, ../sass/_else.scss */
.aesthetic-FAQS .question {
  margin-top: 30px;
}
/* line 89, ../sass/_else.scss */
.aesthetic-FAQS p {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #a57c4f;
}
/* line 93, ../sass/_else.scss */
.aesthetic-FAQS p:last-child {
  border-bottom: 0 solid;
}

/* line 32, ../sass/screen.scss */
.aesthetic-contacts .sent-form input[type="submit"], .aesthetic-main .aesthetic-main-word a, .aesthetic-main-else .aesthetic-main-word a, .aesthetic-about a, .aesthetic-ourprocedures a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #b3afaf;
  border-radius: 7px;
  width: 180px;
  word-spacing: 1px;
}

/* line 43, ../sass/screen.scss */
.aesthetic-contacts h3, .surgeon-content h3, .aesthetic-FAQS h3, .aesthetic-about h3, .aesthetic-ourteam h3, .aesthetic-ourprocedures h3 {
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #4e2c30;
}

/* line 50, ../sass/screen.scss */
.aesthetic-contacts h2, .surgeon-content h2, .aesthetic-ourteam h2, .aesthetic-ourprocedures h2 {
  font-weight: 300;
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #a57c4f;
}

/* line 58, ../sass/screen.scss */
* {
  max-width: 10000px;
}

/* line 62, ../sass/screen.scss */
body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: 'Lato', 'sans-serif';
  line-height: 24px;
  color: #505050;
}

/* line 70, ../sass/screen.scss */
.wrpper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* line 75, ../sass/screen.scss */
.aesthetic-main, .aesthetic-main-else {
  position: relative;
  min-width: 100%;
  width: auto;
  height: 100%;
  background-image: url(../images/img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 83, ../sass/screen.scss */
.aesthetic-main .aesthetic-main-word, .aesthetic-main-else .aesthetic-main-word {
  max-width: 500px;
  position: absolute;
  margin: 150px 0 0 150px;
}
/* line 89, ../sass/screen.scss */
.aesthetic-main .aesthetic-main-word h1, .aesthetic-main-else .aesthetic-main-word h1 {
  font-size: 72px;
  color: #FFF;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 87px;
  word-spacing: 1px;
  padding-bottom: 10px;
}
/* line 98, ../sass/screen.scss */
.aesthetic-main .aesthetic-main-word h3, .aesthetic-main-else .aesthetic-main-word h3 {
  font-size: 22px;
  color: #bcb7b8;
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
  padding-bottom: 40px;
}
/* line 107, ../sass/screen.scss */
.aesthetic-main .aesthetic-main-word a, .aesthetic-main-else .aesthetic-main-word a {
  font-size: 19px;
  color: #a69ea1;
  padding: 16px 40px 17px;
  margin-left: 7px;
}
/* line 108, ../sass/screen.scss */
.aesthetic-main .aesthetic-main-word a:hover, .aesthetic-main-else .aesthetic-main-word a:hover {
  color: #C2C2C2;
  border: 1px solid #C2C2C2;
}

/* line 120, ../sass/screen.scss */
.aesthetic-about {
  display: block;
  width: auto;
  height: auto;
  background-color: #a6797e;
  text-align: center;
  transition: all 1s linear;
  padding: 64px 194px 50px 200px;
}
/* line 128, ../sass/screen.scss */
.aesthetic-about h2 {
  font-weight: 300;
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #FFF;
}
/* line 136, ../sass/screen.scss */
.aesthetic-about h3 {
  padding: 10px 0 20px 0;
}
/* line 140, ../sass/screen.scss */
.aesthetic-about p {
  word-spacing: 2px;
  color: #dfcdcf;
  margin-bottom: 50px;
}
/* line 146, ../sass/screen.scss */
.aesthetic-about a {
  text-align: center;
  color: #caafb2;
  padding: 20px 20px 20px;
}
/* line 148, ../sass/screen.scss */
.aesthetic-about a:hover {
  color: #FFCAD1;
  border: 1px solid #FFCAD1;
}

/* line 158, ../sass/screen.scss */
.aesthetic-ourteam {
  margin-top: 60px;
  background-color: #FFF;
  text-align: center;
}
/* line 168, ../sass/screen.scss */
.aesthetic-ourteam .text-box h3 {
  color: #FFF;
}
/* line 171, ../sass/screen.scss */
.aesthetic-ourteam .text-box h5 {
  letter-spacing: 1px;
  font-style: italic;
  color: #bca48a;
}
/* line 177, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list {
  padding-top: 30px;
  margin: 0;
}
/* line 180, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people {
  float: left;
  width: 25%;
  position: relative;
}
/* line 184, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people .aesthetic-ourteam-photo1 {
  background-image: url(../images/img02.jpg);
}
/* line 189, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people .aesthetic-ourteam-photo2 {
  background-image: url(../images/img03.jpg);
}
/* line 193, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people .aesthetic-ourteam-photo3 {
  background-image: url(../images/img04.jpg);
}
/* line 197, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people .aesthetic-ourteam-photo4 {
  background-image: url(../images/img05.jpg);
}
/* line 201, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people div[class*=aesthetic-ourteam-photo] {
  display: block;
  width: 100%;
  height: 453px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 209, ../sass/screen.scss */
.aesthetic-ourteam .aesthetic-ourteam-list .aesthetic-ourteam-people .text-box {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
}

/* line 222, ../sass/screen.scss */
.aesthetic-ourprocedures {
  margin-top: 30px;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}
/* line 237, ../sass/screen.scss */
.aesthetic-ourprocedures h3 {
  padding: 10px 0 30px 0;
}
/* line 241, ../sass/screen.scss */
.aesthetic-ourprocedures a {
  border-color: #a57c4f;
  color: #bd9d7a;
}
/* line 243, ../sass/screen.scss */
.aesthetic-ourprocedures a:hover {
  color: #E0A241;
  border: 1px solid #E0A241;
}

/* line 253, ../sass/screen.scss */
.labels {
  display: inline;
  padding: 2px 10px;
  border-radius: 5px;
  color: #bd9d7a;
  text-transform: uppercase;
  border: 1px solid #FFF;
  cursor: pointer;
}

/* line 263, ../sass/screen.scss */
.tabs {
  display: inline-block;
  min-width: 100%;
  width: auto;
  height: 150%;
  list-style: none;
  position: relative;
}
/* line 273, ../sass/screen.scss */
.tabs li {
  float: left;
}
/* line 278, ../sass/screen.scss */
.tabs .tab-contents {
  text-align: left;
  z-index: 2;
  display: none;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: -50px;
}
/* line 287, ../sass/screen.scss */
.tabs .tab-contents .image-box {
  float: left;
  width: 50%;
  height: 773px;
  background-image: url(../images/img06.jpg);
  background-size: cover;
}
/* line 297, ../sass/screen.scss */
.tabs .tab-contents .image-box2 {
  float: left;
  width: 50%;
  height: 773px;
  background-image: url(../images/img07.jpg);
  background-size: cover;
}
/* line 305, ../sass/screen.scss */
.tabs .tab-contents .text-box {
  float: right;
  width: 39%;
  margin: 50px 5%;
}
/* line 309, ../sass/screen.scss */
.tabs .tab-contents .text-box a {
  display: block;
  padding: 13px 150px 14px;
  margin: 20px;
}
/* line 317, ../sass/screen.scss */
.tabs input[type="radio"] {
  display: none;
}
/* line 320, ../sass/screen.scss */
.tabs [id^="tab"]:checked + [class^=".labels"] {
  border: 1px solid #a57c4f;
}
/* line 326, ../sass/screen.scss */
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
  width: 100%;
}
