/* line 17, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_header&footer.scss */
.aesthetic-logo {
  padding: 25px 0;
  display: block;
  color: #a57c4f;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 2px;
}
/* line 3, ../sass/_header&footer.scss */
.aesthetic-logo:hover {
  color: #B69878;
}

/* line 21, ../sass/_header&footer.scss */
.main-nav {
  position: relative;
  display: block;
  width: 100%;
  background: #202020;
  text-align: center;
  text-decoration: none;
}
/* line 28, ../sass/_header&footer.scss */
.main-nav .bottom {
  position: fixed;
  margin-top: -50px;
  top: 0;
  left: 0;
  right: 0;
}
/* line 35, ../sass/_header&footer.scss */
.main-nav nav {
  z-index: 10000;
  padding: 10px 0;
  border-top: 1px solid #393939;
  background-color: #202020;
}
/* line 41, ../sass/_header&footer.scss */
.main-nav nav .manu-item {
  display: inline;
  margin: 0 22px 0 21px;
  color: #777;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 42, ../sass/_header&footer.scss */
.main-nav nav .manu-item:hover {
  color: #A7A3A3;
}
/* line 59, ../sass/_header&footer.scss */
.main-nav a {
  text-decoration: none;
}

/* line 68, ../sass/_header&footer.scss */
.footer-buttom, .footer-buttom a {
  padding: 18px 4px 20px 0;
  color: #777;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
  border-top: 1px solid #393939;
}
/* line 75, ../sass/_header&footer.scss */
.footer-buttom a {
  border-top: 0px solid;
  text-decoration: none;
}

/* line 27, ../sass/screen.scss */
.main-content .main-word-content a, .pagination-main-nav .main-word-content a, .about-content a, .ourprocedures-content a, .contacts-content .sent-form input[type="submit"] {
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #b3afaf;
  border-radius: 7px;
  width: 180px;
  word-spacing: 1px;
}

/* line 38, ../sass/screen.scss */
.about-content h3, .ourteam-content h3, .ourprocedures-content h3, .contacts-content h3, .surgeon-content h3, .FAQS-content h3 {
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #4e2c30;
}

/* line 45, ../sass/screen.scss */
.ourteam-content h2, .ourprocedures-content h2, .contacts-content h2, .surgeon-content h2 {
  font-weight: 300;
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #a57c4f;
}

/* line 53, ../sass/screen.scss */
* {
  max-width: 10000px;
}

/* line 57, ../sass/screen.scss */
body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: 'Lato', 'sans-serif';
  line-height: 24px;
  color: #505050;
}

/* line 65, ../sass/screen.scss */
.wrpper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* line 72, ../sass/screen.scss */
.main-content, .pagination-main-nav {
  position: relative;
  min-width: 100%;
  width: auto;
  height: 100%;
  background-image: url(../images/img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 80, ../sass/screen.scss */
.main-content .main-word-content, .pagination-main-nav .main-word-content {
  max-width: 500px;
  position: absolute;
  margin: 150px 0 0 150px;
}
/* line 86, ../sass/screen.scss */
.main-content .main-word-content h1, .pagination-main-nav .main-word-content h1 {
  font-size: 72px;
  color: #FFF;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 87px;
  word-spacing: 1px;
  padding-bottom: 10px;
}
/* line 95, ../sass/screen.scss */
.main-content .main-word-content h3, .pagination-main-nav .main-word-content h3 {
  font-size: 22px;
  color: #bcb7b8;
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
  padding-bottom: 40px;
}
/* line 104, ../sass/screen.scss */
.main-content .main-word-content a, .pagination-main-nav .main-word-content a {
  font-size: 19px;
  color: #a69ea1;
  padding: 16px 40px 17px;
  margin-left: 7px;
}
/* line 105, ../sass/screen.scss */
.main-content .main-word-content a:hover, .pagination-main-nav .main-word-content a:hover {
  color: #C2C2C2;
  border: 1px solid #C2C2C2;
}

/* line 118, ../sass/screen.scss */
.about-content {
  display: block;
  width: auto;
  height: auto;
  background-color: #a6797e;
  text-align: center;
  transition: all 1s linear;
  padding: 64px 194px 50px 200px;
}
/* line 126, ../sass/screen.scss */
.about-content h2 {
  font-weight: 300;
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #FFF;
}
/* line 134, ../sass/screen.scss */
.about-content h3 {
  padding: 10px 0 20px 0;
}
/* line 138, ../sass/screen.scss */
.about-content p {
  word-spacing: 2px;
  color: #dfcdcf;
  margin-bottom: 50px;
}
/* line 144, ../sass/screen.scss */
.about-content a {
  text-align: center;
  color: #caafb2;
  padding: 20px 20px 20px;
}
/* line 146, ../sass/screen.scss */
.about-content a:hover {
  color: #FFCAD1;
  border: 1px solid #FFCAD1;
}

/* line 156, ../sass/screen.scss */
.ourteam-content {
  margin-top: 60px;
  background-color: #FFF;
  text-align: center;
}
/* line 166, ../sass/screen.scss */
.ourteam-content .text-box h3 {
  color: #FFF;
}
/* line 169, ../sass/screen.scss */
.ourteam-content .text-box h5 {
  letter-spacing: 1px;
  font-style: italic;
  color: #bca48a;
}
/* line 175, ../sass/screen.scss */
.ourteam-content .ourteam-list {
  padding-top: 30px;
  margin: 0;
}
/* line 178, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people {
  float: left;
  width: 25%;
  position: relative;
}
/* line 182, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people .ourteam-photo1 {
  background-image: url(../images/img02.jpg);
}
/* line 187, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people .ourteam-photo2 {
  background-image: url(../images/img03.jpg);
}
/* line 191, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people .ourteam-photo3 {
  background-image: url(../images/img04.jpg);
}
/* line 195, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people .ourteam-photo4 {
  background-image: url(../images/img05.jpg);
}
/* line 199, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people div[class*=ourteam-photo] {
  display: block;
  width: 100%;
  height: 453px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 207, ../sass/screen.scss */
.ourteam-content .ourteam-list .ourteam-people .text-box {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
}

/* line 219, ../sass/screen.scss */
.ourprocedures-content {
  margin-top: 30px;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}
/* line 234, ../sass/screen.scss */
.ourprocedures-content h3 {
  padding: 10px 0 30px 0;
}
/* line 238, ../sass/screen.scss */
.ourprocedures-content a {
  border-color: #a57c4f;
  color: #bd9d7a;
}
/* line 240, ../sass/screen.scss */
.ourprocedures-content a:hover {
  color: #E0A241;
  border: 1px solid #E0A241;
}

/* line 252, ../sass/screen.scss */
.tabs {
  display: inline-block;
  min-width: 100%;
  width: auto;
  height: 150%;
  list-style: none;
  position: relative;
}
/* line 262, ../sass/screen.scss */
.tabs li {
  display: inline;
}
/* line 267, ../sass/screen.scss */
.tabs label {
  padding: 2px 10px;
  border-radius: 5px;
  color: #bd9d7a;
  text-transform: uppercase;
  border: 1px solid #FFF;
  cursor: pointer;
}
/* line 277, ../sass/screen.scss */
.tabs .tab-contents {
  text-align: left;
  z-index: 2;
  display: none;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: -50px;
}
/* line 286, ../sass/screen.scss */
.tabs .tab-contents .image-box {
  float: left;
  width: 50%;
  height: 773px;
  background-image: url(../images/img06.jpg);
  background-size: cover;
}
/* line 296, ../sass/screen.scss */
.tabs .tab-contents .image-box2 {
  float: left;
  width: 50%;
  height: 773px;
  background-image: url(../images/img07.jpg);
  background-size: cover;
}
/* line 304, ../sass/screen.scss */
.tabs .tab-contents .text-box {
  float: right;
  width: 39%;
  margin: 50px 5%;
}
/* line 308, ../sass/screen.scss */
.tabs .tab-contents .text-box a {
  display: block;
  padding: 13px 150px 14px;
  margin: 20px;
}
/* line 316, ../sass/screen.scss */
.tabs input[type="radio"] {
  display: none;
}
/* line 326, ../sass/screen.scss */
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
  width: 100%;
}
/* line 331, ../sass/screen.scss */
.tabs input[type=radio]:checked + label {
  border: 1px solid #a57c4f;
}

/* line 338, ../sass/screen.scss */
.contacts-content {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 345, ../sass/screen.scss */
.contacts-content h2 {
  padding-top: 50px;
}
/* line 349, ../sass/screen.scss */
.contacts-content h3 {
  padding: 10px 0 30px 0;
}
/* line 354, ../sass/screen.scss */
.contacts-content .contact-box {
  padding: 17px 6% 71px 9%;
  margin: 0 auto;
  max-width: 1020px;
  background-color: blue;
}
/* line 359, ../sass/screen.scss */
.contacts-content .contact-box .contact-holder {
  width: 285px;
}
/* line 362, ../sass/screen.scss */
.contacts-content .contact-box .contact-holder dt {
  float: left;
}
/* line 365, ../sass/screen.scss */
.contacts-content .contact-box .contact-holder dd {
  text-align: left;
}
/* line 370, ../sass/screen.scss */
.contacts-content .sent-form {
  float: right;
  position: relative;
  right: 5%;
  width: 55%;
}
/* line 376, ../sass/screen.scss */
.contacts-content .sent-form .row .validation-box-success {
  float: left;
}
/* line 380, ../sass/screen.scss */
.contacts-content .sent-form textarea {
  display: block;
  margin: 0;
  padding: 21px 17px;
  resize: vertical;
  text-transform: uppercase;
  color: #777;
  border: 1px solid #fff;
  background: #FFF;
  border-radius: 3px;
  overflow: auto;
}
/* line 392, ../sass/screen.scss */
.contacts-content .sent-form input[type="text"] {
  display: block;
  margin: 20px 25px 19px 0;
  width: 338px;
  height: 51px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  outline: 0;
  background-color: #FFF;
}
/* line 403, ../sass/screen.scss */
.contacts-content .sent-form input[type="submit"] {
  margin: 0;
  padding: 0 0 2px;
  width: 300px;
  height: 53px;
  font: 16px/20px 'Lato', Arial, Helvetica, sans-serif;
  color: #a57c4f;
  background: #f0f0f0;
  border: 1px solid #a57c4f;
  border-radius: 7px;
  cursor: pointer;
}

/* line 422, ../sass/screen.scss */
.maps-content {
  min-width: 100%;
  width: auto;
  height: 100%;
  background-color: #505050;
}
/* line 429, ../sass/screen.scss */
.maps-content li {
  display: inline;
  text-align: center;
}
/* line 435, ../sass/screen.scss */
.maps-content label {
  padding: 10px 10px;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 7px;
  bottom: 50px;
}
/* line 444, ../sass/screen.scss */
.maps-content .maps-body {
  display: inline-block;
  min-width: 100%;
  width: auto;
  height: 100%;
  list-style: none;
  position: relative;
  background-color: #505050;
}
/* line 453, ../sass/screen.scss */
.maps-content .maps-information {
  text-align: left;
  line-height: 25px;
  display: none;
}
/* line 460, ../sass/screen.scss */
.maps-content address {
  text-align: center;
  color: #c9c0c2;
  padding-top: 5%;
}
/* line 465, ../sass/screen.scss */
.maps-content input[type="radio"] {
  display: none;
}
/* line 469, ../sass/screen.scss */
.maps-content [id^="map"]:checked ~ [id^="maps-information-content"] {
  display: block;
}
/* line 473, ../sass/screen.scss */
.maps-content input[type=radio]:checked + label {
  border: 1px solid #FFF;
}

/* line 491, ../sass/screen.scss */
.surgeon-content {
  display: block;
  padding: 58px 0 118px;
}
/* line 495, ../sass/screen.scss */
.surgeon-content h2 {
  text-align: center;
}
/* line 499, ../sass/screen.scss */
.surgeon-content h3 {
  text-align: center;
  margin: 10px 0 60px 0;
}
/* line 505, ../sass/screen.scss */
.surgeon-content .surgeon-introduction {
  text-align: left;
  width: 50%;
  margin: 0 4% 2% 0;
  height: 696px;
  float: left;
  background-image: url(../images/img09.jpg);
  background-size: cover;
}
/* line 516, ../sass/screen.scss */
.surgeon-content .surgeon-text {
  position: relative;
  padding: 60px 9px 0 40px;
  margin: 0 6% 0 0;
  text-align: left;
}
/* line 521, ../sass/screen.scss */
.surgeon-content .surgeon-text h5 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: bolder;
}
/* line 527, ../sass/screen.scss */
.surgeon-content .surgeon-text p {
  margin: 0 0 25px;
}
/* line 529, ../sass/screen.scss */
.surgeon-content .surgeon-text p:last-child {
  line-height: 3em;
}
/* line 533, ../sass/screen.scss */
.surgeon-content .surgeon-text li {
  margin-top: 30px;
}
/* line 535, ../sass/screen.scss */
.surgeon-content .surgeon-text li:first-child {
  margin: 0;
}
/* line 541, ../sass/screen.scss */
.surgeon-content .surgeon-text .date {
  position: absolute;
}
/* line 545, ../sass/screen.scss */
.surgeon-content .surgeon-text .thing {
  padding-left: 12%;
}

/* line 553, ../sass/screen.scss */
.FAQS-content {
  padding: 0 120px 98px;
}
/* line 555, ../sass/screen.scss */
.FAQS-content h3 {
  text-align: center;
  margin-top: 50px;
}
/* line 560, ../sass/screen.scss */
.FAQS-content h4 {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 565, ../sass/screen.scss */
.FAQS-content h5 {
  font-weight: bolder;
}
/* line 568, ../sass/screen.scss */
.FAQS-content .question {
  margin-top: 30px;
}
/* line 571, ../sass/screen.scss */
.FAQS-content p {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #a57c4f;
}
/* line 575, ../sass/screen.scss */
.FAQS-content p:last-child {
  border-bottom: 0 solid;
}
